@section css{
    <link href="~/Content/explore.css" rel="stylesheet" />
    <link href="~/images/logenew.png" rel=" shortcut icon" />
}
@section js{
    <script src="~/Scripts/message.js"></script>
}
<div class="host">
    <div class="home">
        首页 >> 搜索
    </div>
    <div class="head">
        <div class="headtou">
            <div><img class="headtouleft" src="~/images/public-icon3.png"></div>
            <div style="font-size: 30px;">探索故宫的历史与文化</div>
            <div><img class="headtouright" src="~/images/public-icon4.png"></div>
        </div>
        <div class="headhost">
            <img src="~/images/red.png" style="width: 100%; height: 600px;">
            <div class="headhosts">
                <div><img class="headtouleft" src="~/images/public-icon3.png"></div>
                <div class="headtouwen" style="font-size: 30px;">独一无二的建筑风格</div>
                <div><img class="headtouright" src="~/images/public-icon4.png"></div>
                <div style="font-size: 14px;">
                    紫禁城南北长961m，东西宽753m，四面围有高10m的城墙， 城外有宽52m的护城河,真可谓有金城汤池之固。紫禁城有四座城门， 南面为午门，北面为神武门，东面为东华门，西面为西华门。城墙的四角， 各有一座风姿绰约的角楼，民间有九梁十八柱七十二条脊之说，形容其结构的复杂。
                </div>
                <div class="headholeft"><img src="~/images/zhguo.png"></div>
                <div class="headhostp">
                    <div><img src="~/images/zhongguo.png"></div>
                    <div>建筑地图</div>
                </div>
                <div class="headhopl">
                    <div class="row">
                        <div class="col-md-2">
                            <a href="./explores.html" target="_blank">
                                <div><img src="~/images/img6.png"></div>
                            </a>
                            <div>太和殿</div>
                        </div>
                        <div class="col-md-2">
                            <a href="./explores.html" target="_blank">
                                <div><img src="~/images/img6.png"></div>
                            </a>
                            <div>中和殿</div>
                        </div>
                        <div class="col-md-2">
                            <a href="./explores.html" target="_blank">
                                <div><img src="~/images/img6.png"></div>
                            </a>
                            <div>保和殿</div>
                        </div>
                        <div class="col-md-2">
                            <a href="./explores.html" target="_blank">
                                <div><img src="~/images/img6.png"></div>
                            </a>
                            <div>体仁阁</div>
                        </div>
                        <div class="col-md-2">
                            <a href="./explores.html" target="_blank">
                                <div><img src="~/images/img6.png"></div>
                            </a>
                            <div>弘义阁 </div>
                        </div>
                        <div class="col-md-2">
                            <a href="./explores.html" target="_blank">
                                <div><img src="~/images/img6.png"></div>
                            </a>
                            <div>乾清宫</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bodyhe">
        <div class="bodyhead">
            <div class="row">
                <div class="col-md-8">
                    <img src="~/images/teng.png" style="width: 630px; height: 240px;">
                </div>
                <div class="col-md-4">
                    <a href="./explores.html"><img src="~/images/teng1.jpg" style="width: 630px; height: 240px;"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <img src="~/images/teng3.png" style="width: 630px; height: 480px;">
                </div>
                <div class="col-md-4">
                    <a href="./explores.html"><img src="~/images/teng4.png" style="width: 630px; height: 480px;"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="bodyhead">
        <img class="headtouleft" src="~/images/public-icon3.png">
        <div style="font-size: 30px;">文化专题</div>
        <div><img class="headtouright" src="~/images/public-icon4.png"></div>
    </div>

    <ul class="jiaod">
        <li class="first">
            <div class="new"><img src="~/images/wenwu.png"></div>
            <div class="tow"><a href="./explores.html" target="_blank" class="top">器物</a></div>
        </li>
        <li>
            <div class="new"><img src="~/images/wenwu1.jpg"></div>
            <div class="tow"><a href="./explores.html" target="_blank" class="top">书画</a></div>
        </li>
        <li>
            <div class="new"><img src="~/images/wenwu2.jpg"></div>
            <div class="tow"><a href="./explores.html" target="_blank" class="top">文化</a></div>
        </li>
        <li>
            <div class="new"><img src="~/images/wenwu3.jpg"></div>
            <div class="tow"><a href="./explores.html" target="_blank" class="top">人物</a></div>
        </li>
    </ul>
</div>