@section css{
    <link href="~/Content/academic.css" rel="stylesheet" />
}
@section js{
    <script src="~/Scripts/message.js"></script>
}
<div class="population">
    <div class="main">
        <span><img src="~/images/public-icon3.png" style="height: 50px;" /></span>
        <span class="txt">
            学术资讯
        </span>
        <span><img src="~/images/public-icon4.png" style="height: 50px;" /></span>

    </div>
    <div>
        <p>第一时间了解故宫学术研究最新动态</p>
    </div>
    <div>
        <div>
            <img src="~/images/1.jpg" />
            <div class="lan">
                <a><i class="more">更多</i></a>
                <ul class="writing">
                    <li> <a href=""> 故宫博物院应邀出席 “古文字与中华文明传承发展工程” 工作推进会</a></li>
                    <li> <a href="">安徽凤阳明中都遗址入选“2021年度全国十大考古新发现</a></li>
                    <li> <a href="">红旗故宫联合创新实验室举办第三届专题论坛--故宫书画特点探讨</a></li>
                    <li> <a href="">故宫博物院博上后科研工作站2022年博士后招聘简章</a></li>
                    <li> <a href="">故宫博物院召开2021年开放课题立项发布会</a></li>
                    <li> <a href="">故宫博物院与美国保罗·盖蒂信托基金签署合作协议</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="part">
        <div class="main1">
            <span><img src="~/images/public-icon3.png" style="height: 40px;" /></span>
            <span class="txt">
                专家名录
            </span>
            <span><img src="~/images/public-icon4.png" style="height: 40px;" /></span>
        </div>
        <div class="frame">
            <h2>拼音字母排序</h2>
            <div class="chilb">
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
                <a href="">毛蒙柯</a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="main2">
            <span><img src="~/images/public-icon3.png" style="height: 40px;" /></span>
            <span class="txtnew">
                专家名录
            </span>
            <span><img src="~/images/public-icon4.png" style="height: 40px;" /></span>
        </div>
        <div class="maintxt">
            <div class="main3">
                <div class="maintxtleft">
                    <h2>关于故宫研究院</h2>
                    <p>
                        故宫研究院是故宫博物院设立的学术研究与交流的非建制机构，
                        以创建“学术故宫”为宗旨、以服务“平安故宫”为指针，
                        引领学术发展，实现故宫学术研究、
                        人才培养、学术出版和对外交流等事业的可持续发展，
                        努力发展成为国家级重大科研课题项目学术基地和研究中心。
                    </p>
                    <div>
                        <div id="workarea" style="margin-top: 25px;">
                            <div class="position">
                                <div class="svg-wrapper">
                                    <svg height="40" width="150">
                                        <rect id="shape" height="40" width="150" />
                                        <div id="text">
                                            <a href=""><span class="spot"></span>更多</a>
                                        </div>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="maintxtright">
                    <h2>机构建设</h2>
                    <p>
                        故宫研究院下设研究室、故宫学研究所、考古研究所、
                        明清宫廷历史档案研究所、古文献研究所、古建筑研究所、
                        宫廷戏曲研究所、明清宫廷制作技艺研究所、文博法治研究所、
                        书画研究所、陶瓷研究所、藏传佛教文物研究所等十五个研究机构，
                        另有故宫博物院博士后科研工作站。
                    </p>
                    <div>
                        <div id="workarea" style="margin-top: 25px;">
                            <div class="position">
                                <div class="svg-wrapper">
                                    <svg height="40" width="150">
                                        <rect id="shape" height="40" width="150" />
                                        <div id="text">
                                            <a href=""><span class="spot"></span>更多</a>
                                        </div>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="maintxtbottom">
                    <h2>科研成果</h2>
                    <p>
                        自去年故宫研究院成立以来，以其开放的学术胸襟、
                        创新的机制接纳国内外学术界热心于故宫学术研究的人才，
                        且与院内的专家学者共同构建高端学术研究平台，
                        在故宫博物院初步形成覆盖全面、专业突出和梯次完备的学术团队，
                        取得了一系列重大科研成果。
                    </p>
                    <div>
                        <div id="workarea" style="margin-top: 25px;">
                            <div class="position">
                                <div class="svg-wrapper">
                                    <svg height="40" width="150">
                                        <rect id="shape" height="40" width="150" />
                                        <div id="text">
                                            <a href=""><span class="spot"></span>更多</a>
                                        </div>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main4">
        <div class="left">
            <div class="boxleft">
                <div class="main2">
                    <span><img src="~/images/public-icon3.png" style="height: 40px;" /></span>
                    <span class="txtnew">
                        其他机构
                    </span>
                    <span><img src="~/images/public-icon4.png" style="height: 40px;" /></span>
                </div>
            </div>
        </div>

        <div class="leftbottom">
            <div><a href="#"><img src="~/images/left(1).jpg"></a></div>
            <div><a href="#"><img src="~/images/left(2).jpg"></a></div>
        </div>
    </div>
    <div class="right">
        <div>
            <img src="~/images/left1.jpg" style="width: 100%; height: 100%;">
            <h2>关于故宫学院</h2>
            <p>
                自去年故宫研究院成立以来，以其开放的学术胸襟、
                创新的机制接纳国内外学术界热心于故宫学术研究的人才，
                取得了一系列重大科研成果。
            </p>

        </div>
        <div>
            <img src="~/images/s58537de4c4675.jpg" style="width: 100%; height: 100%;">
            <h2>国内外交流合作</h2>
            <p>
                故宫学院是一所业务培训和教育机构，
                也是国内首家以博物馆办学的模式成立的“学院”。
                故宫学院响应我国博物馆和文化遗产保护事业发展的最新形势和需要，
                围绕故宫博物院整体事业的发展。
            </p>
        </div>
    </div>
    <div class="rightnew">
        <div>
            <img src="~/images/learning-pic2.jpg" style="width: 100%; height: 100%;">
            <h2>科研成果</h2>
            <ul class="ulli">
                <li><a href="#">12 / 29·馆校共建育良工，师徒传承出...</a></li>
                <li><a href="#">08 / 29·国家文物局文博人才培训基地...</a></li>
                <li><a href="#">11 / 25·故宫博物院继续协助北京国际...</a></li>
                <li><a href="#">09 / 19·故宫学院工作会议召开</a></li>
                <li><a href="#">05 / 18·故宫学院（沈阳）正式成立暨...</a></li>
                <li><a href="#">07 / 29·国家文物局文博人才培训基地...</a></li>
                <li><a href="#">06 / 19·故宫学院工作会议召开</a></li>
            </ul>

        </div>
    </div>
</div>