@section css{
    <link href="~/Content/css.css" rel="stylesheet" />
}

@section js{
    <script src="~/Scripts/GuideVisitors.js"></script>
    <script src="~/Scripts/message.js"></script>
}
<style>
</style>
<div class="container">
    <!--第一行 首页》导览 -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <a href="" style="color: rgb(119, 117, 117);text-decoration: none;">首页</a> 》<a href="" style="color: rgb(119, 117, 117);text-decoration: none;">导览</a>
        </div>
        <div class="row title">
            <div class="col-md-12 col-sm-12 col-xs-12 align">
                <img src="~/images/first-one.png" alt="">
                <span class="txt">故宫之旅，即刻起航</span>
                <img src="~/images/first-two.png" alt="">
            </div>
        </div>
    </div>

    <!-- 第二行故宫之旅，即刻起航 -->
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-8  bgImage">
            <div class="row images-text">
                <div class="col-md-4 image-text">
                    <a href="" class="bg">
                        <img src="~/images/first-three.png" alt="">
                        <div class="txt">【开放时间】</div>
                        让这趟旅程更“准时”
                    </a>
                </div>

                <div class="col-md-4 image-text">
                    <a href="" class="bg">
                        <img src="~/images/first-four.png" alt="">
                        <div class="txt">【在线订票】</div>
                        提前预定故宫门票
                    </a>
                </div>

                <div class="col-md-4 image-text">
                    <a href="" class="bg">
                        <img src="~/images/first-five.png" alt="">
                        <div class="txt">【导览地图】</div>
                        为您量身推荐游览地图
                    </a>
                </div>
            </div>

            <div class="row" style="margin-top: 50px;margin-bottom:50px;">
                <div class="col-md-4 image-text">
                    <a href="" class="bg">
                        <img src="~/images/first-six.png" alt="">
                        <div class="txt">【交通路线】</div>
                        让您行程更便捷
                    </a>
                </div>

                <div class="col-md-4 image-text">
                    <a href="" class="bg">
                        <img src="~/images/first-seven.png" alt="">
                        <div class="txt">【全景故宫】</div>
                        随时随地欣赏实景故宫
                    </a>
                </div>

                <div class="col-md-4 image-text">
                    <a href="" class="bg">
                        <img src="~/images/first-eight.png" alt="">
                        <div class="txt">【游览须知】</div>
                        让您的游览更安全更舒心
                    </a>
                </div>
            </div>

        </div>

        <div class="col-md-4 right-bg">
            <div class="row">
                <div class="col-md-12 topTitle">
                    <img src="~/images/first-nine.png" alt="">
                    <span style="font-size: 22px;margin:40px 0px ;">开放公告</span>
                    <img src="~/images/first-ten.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="notice">
                        <li>
                            <a href="">闭馆公告</a>
                            <br>
                            <span>各位观众： 根据北京市疫情防控最新形势，为进一步降低人员流动带来疫情社会面传播风险，故宫...</span>
                        </li>
                        <li>
                            <a href="">关于关闭室内展厅的公告</a>
                            <br>
                            <span>根据北京市疫情防控工作要求，5月3日起，故宫博物院将关闭所有室内展厅，开放时间另行通知。...</span>
                        </li>
                        <li>
                            <a href="">关于持核酸阴性证明入院参观的公告</a>
                            <br>
                            <span>根据北京市疫情防控工作要求，“五一”期间参观故宫博物院须持48小时内核酸检测阴性证明。自5...</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <!-- 第三板块———开放时间 -->
    <div class="row">
        <div class="col-md-12 openTime">
            <img src="~/images/first-one.png" alt="">
            <span class="txt">开放时间</span>
            <img src="~/images/first-two.png" alt="">
        </div>
    </div>

    <!-- 第三板块———开放时间 -->
    <div style="margin:0px 100px ;">
        &emsp;&emsp;故宫博物院全年开放，开放时间按照淡、旺季会有所改变，遇到法定假期也会延长或缩短开放时间，请随时注意本网站的公告！如果遇到重大活动或特殊情况，开放时间如有改变，故宫网站将特别发布公告。除法定节假日外，
        <span style="border-bottom:1px solid grey;">故宫博物院全年实行周一全天闭馆的措施。</span>
    </div>

    <!-- 第三板块———开放时间 -->
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12 highSeason">
            <div class="row">
                <div class="col-md-5">
                    <div style="padding: 160px 0px 0px 80px;color: white;">
                        <span style="color:white; font-size:46px;font-family: Impact;">旺季</span>
                        <img style="margin:-30px 20px 0px 20px;" src="~/images/secend-two.png" alt="">
                        <span style="color:white; font-size:46px;font-family: Impact;">4.1-10.31</span>
                        <div style="font-size: 18px;margin: 20px 0px 20px 0px;">每年4月1日至10月31日采用旺季开放时间</div>
                        <div class="row" style="font-size: 18px;">
                            <div class="col-md-5">
                                开放入馆时间：
                            </div>
                            <div class="col-md-5 col-md-offset-2" style="text-align:right ;">
                                8:30
                            </div>
                        </div>
                        <div class="row" style="font-size: 18px;">
                            <div class="col-md-5">
                                停止入馆时间：
                            </div>
                            <div class="col-md-5 col-md-offset-2" style="text-align:right ;">
                                16:10
                            </div>
                        </div>
                        <div class="row" style="font-size: 18px;">
                            <div class="col-md-5">
                                闭馆时间：
                            </div>
                            <div class="col-md-5 col-md-offset-2" style="text-align:right ;">
                                17:00
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-md-offset-2">
                    <div style="padding: 160px 80px 0px 0px;color: white;text-align: right;">
                        <span style="color:white; font-size:46px;font-family: Impact;">11.1-3.31</span>
                        <img style="margin:-30px 20px 0px 20px;" src="~/images/secend-two.png" alt="">
                        <span style="color:white; font-size:46px;font-family: Impact;">淡季</span>
                        <div style="font-size: 18px;margin: 20px 0px 20px 0px;text-align: right;">每年11月1日至来年3月31日采用淡季开放时间</div>
                        <div class="row" style="font-size: 18px;">
                            <div class="col-md-5" style="text-align:left ;">
                                开放入馆时间：
                            </div>
                            <div class="col-md-5 col-md-offset-2" style="text-align:right ;">
                                8:30
                            </div>
                        </div>
                        <div class="row" style="font-size: 18px;text-align:left ;">
                            <div class="col-md-5">
                                停止入馆时间：
                            </div>
                            <div class="col-md-5 col-md-offset-2" style="text-align:right ;">
                                16:10
                            </div>
                        </div>
                        <div class="row" style="font-size: 18px;text-align:left ;">
                            <div class="col-md-5">
                                闭馆时间：
                            </div>
                            <div class="col-md-5 col-md-offset-2" style="text-align:right ;">
                                17:00
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- 第四板块————导览地图 -->
    <div class="row">
        <div class="col-md-12 map">
            <img src="~/images/first-one.png" alt="">
            <span class="txt">导览地图</span>
            <img src="~/images/first-two.png" alt="">
        </div>
    </div>

    <!-- 第四板块————导览地图 -->
    <div style="text-align: center;">
        &emsp;&emsp;故宫博物院实行自南向北单向参观，观众一律由午门进入故宫。参观结束后，可以由神武门或东华门离开故宫。
    </div>
    <div class="row map-object">
        <div class="col-md-3 leftbg">
            <div class="down">
                <ul style="padding-top:20px ;padding-left:0px;">
                    <a href="">
                        <!-- 第一列 -->
                        <li>
                            <ul style="display: inline-block;">
                                <li>
                                    <img src="~/images/third-three.png" alt="">
                                    <span style="color: black;font-size:20px;">疫情防控期间开放区域</span>
                                </li>
                            </ul>
                        </li>
                        <!-- 第二列 -->
                        <li data-toggle="collapse" href="#collapseExample" style="padding-top: 20px;">
                            <img src="~/images/third-three.png" alt="">
                            <span style="color: black;font-size:20px;">推荐路线</span>
                            <ul id="collapseExample">
                                <li style="padding-left:48px ;font-size:18px;">两小时游</li>
                                <li style="padding-left:48px ;font-size:18px;">半日游</li>
                                <li style="padding-left:48px ;font-size:18px;">一日游</li>
                            </ul>
                        </li>

                        <!-- 第三列 -->
                        <li data-toggle="collapse" href="#Example" style="padding-top: 20px;">
                            <img src="~/images/third-three.png" alt="">
                            <span style="color: black;font-size:20px;">主题导览</span>
                            <ul id="Example">
                                <li style="padding-left:48px ;font-size:18px;">宫廷建筑</li>
                                <li style="padding-left:48px ;font-size:18px;">宫廷历史</li>
                                <li style="padding-left:48px ;font-size:18px;">展馆专馆</li>
                            </ul>
                        </li>
                        <!-- 第四列 -->

                        <li data-toggle="collapse" href="#Examples" style="padding-top: 20px;">
                            <img src="~/images/third-three.png" alt="">
                            <span style="color: black;font-size:20px;">服务设施</span>
                            <ul id="Examples">
                                <li style="padding-left:48px ;font-size:17px;"> <img src="~/images/third-three-one.png" alt=""> 餐饮</li>
                                <li style="padding-left:48px ;font-size:17px;"> <img src="~/images/third-three-two.png" alt=""> 观众服务处</li>
                                <li style="padding-left:48px ;font-size:17px;"> <img src="~/images/third-three-three.png" alt=""> 广播</li>
                                <li style="padding-left:48px ;font-size:17px;"> <img src="~/images/third-three-four.png" alt=""> 医务</li>
                                <li style="padding-left:48px ;font-size:17px;"> <img src="~/images/third-three-five.png" alt=""> 售票处</li>
                                <li style="padding-left:48px ;font-size:17px;"> <img src="~/images/third-three-six.png" alt=""> 书店</li>
                                <li style="padding-left:48px ;font-size:17px;"> <img src="~/images/third-three-seven.png" alt=""> 语音导览器</li>
                                <li style="padding-left:48px ;font-size:17px;"> <img src="~/images/third-three-eight.png" alt=""> 讲解</li>
                                <li style="padding-left:48px ;font-size:17px;"> <img src="~/images/third-three-nine.png" alt=""> 卫生间</li>
                                <li style="padding-left:48px ;font-size:17px;"> <img src="~/images/third-three-ten.png" alt=""> 存包</li>
                                <li style="padding-left:48px ;font-size:17px;"> <img src="~/images/third-three-11.png" alt=""> 商店</li>
                                <li style="padding-left:48px ;font-size:17px;"> <img src="~/images/third-three-12.png" alt=""> 母婴室</li>
                            </ul>
                        </li>

                        <li style="padding-left:50px ;margin:20px 0px;font-size:20px;">无障碍通道</li>
                        <li style="padding-left:50px ;font-size:20px;">未开放区域</li>
                        <div><img style="width: 60%;display: inline-block;" src="~/images/third-two.png" alt=""></div>
                    </a>
                </ul>

            </div>
        </div>

        <!-- 地图部分 -->
        <div class="col-md-9">
            <div class="DX" style="width: 860px;height: 1000px;overflow: hidden;">
                <!-- <img style="width: 100%;" src="~/images/third-one.png" alt=""> -->
                <img src="~/images/third-one.png" ondblclick="return Resize(this,10);return false;" onmousewheel="return resizeimg(this)" />
            </div>
        </div>
    </div>

    <!-- 第五板块————票价及优惠政策 -->
    <div class="col-md-12" style="height:960px ;">
        <div class="pics">
            <img src="~/images/fourth-one.jpg" alt="" style="position: absolute ;width: 99%;padding-left: 40px;z-index: 8;">
            <span style="position: absolute ;z-index: 999;padding: 20px 0px 20px 90px;">
                <img src="~/images/first-nine.png" alt="">
                <span style="color: white;font-size: 28px;">票价及优惠政策</span>
                <img src="~/images/first-ten.png" alt="">

                <span style="border-bottom:1px solid rgb(236, 233, 233) ;width:260px;display: inline-block;"></span>
                <span style="color: white;padding-top:6px;">北京</span>
                <img style="padding: 0px 6px 0px 26px;" src="~/images/晴.png" alt="">
                <div style="color:white ;display: inline-block;margin-top: 10px;">
                    2022.05.31
                    <br />32 ~ 17 晴
                </div>

                <img style="padding: 0px 0px 0px 6px;" src="~/images/晴.png" alt="">
                <div style="color:white ;display: inline-block;margin: 10px 20px 0px 20px;">
                    2022.05.31
                    <br />32 ~ 17 晴
                </div>
                <img style="padding: 0px 0px 0px 6px;" src="~/images/晴.png" alt="">

                <div style="color:white ;display: inline-block;margin-top: 10px;">
                    2022.05.31
                    <br />32 ~ 17 晴
                </div>
            </span>
            <img src="~/images/fourth-two.jpg" alt="" style="position: absolute ;width: 100%;z-index: 9;padding: 120px 200px 0px 0px;">
            <span style="position: absolute ;z-index: 998;padding: 20px 0px 20px 90px;">
                <ul class="picList">
                    <li>每年4月1日至10月31日为旺季，大门票60元/人</li>
                    <li>每年11月1日至次年3月31日为淡季，大门票40元/人</li>
                    <li>珍宝馆（即进入宁寿宫区，还包括戏曲馆、石鼓馆）参观门票：10元/人</li>
                    <li>钟表馆（即进入奉先殿区）参观门票：10元/人</li>
                    <li style="border: 1px solid white;height: 36px;width: 280px; list-style: none;margin-left: 0px;text-align: center;margin-top: 20px;">
                        <a href="" style="color: white;text-decoration: none;">故宫接待中小学生集体参观免费试行方法</a>
                    </li>
                </ul>
            </span>

            <!-- 轮播 -->
            <div style="width:70%;position: absolute;z-index: 9999;top: 450px;margin-left: 40px;" id="carousel-example-generic" class="carousel slide">
                <!-- Indicators -->
                <ol class="choice">
                    <li style="width: 200px;" data-target="#carousel-example-generic" data-slide-to="0" class="active">大门票优惠政策</li>
                    <li style="width: 330px;" data-target="#carousel-example-generic" data-slide-to="1">钟表馆、珍宝馆票价优惠政策</li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <ol style="color:white ;">
                            <li>18周岁以上学生，本科（含本科）以下学历（不含成人教育和研究生），凭学生证或学校介绍信，可购学生票，淡旺季均为20元/人。</li>
                            <li>未满18周岁的中国公民（含港澳台及获得永久居留权的外国人）免费参观。</li>
                            <li>60岁以上（含60岁）老年人凭身份证原件，门票半价优惠。</li>
                            <li>持有本市社会保障金领取证的人员，门票半价优惠。</li>
                            <li>离休干部凭离休证，免票参观。</li>
                            <li> 6周岁（含6周岁）以下或身高1.2米（含1.2米）以下儿童免票参观。</li>
                            <li>残疾人凭残疾人证件，免票参观。</li>
                            <li>“三八”妇女节，妇女享受门票半价优惠。</li>
                            <li>“六一”儿童节，14周岁以下儿童（含14周岁），随同家长一人享受半价优惠。</li>
                            <li>“八一”建军节，现役军人、离退休军人、武警、消防救援人员、烈属、遗属、现役军人家属，凭有效证件，免票参观。</li>
                        </ol>
                        <!-- <div class="carousel-caption">
                            ...
                        </div> -->
                    </div>
                    <div class="item">
                        <ol style="color:white ;">
                            <li>18周岁以上学生，本科（含本科）以下学历（不含成人教育和研究生），凭学生证或学校介绍信，可购学生票，淡旺季均为20元/人。</li>
                            <li>未满18周岁的中国公民（含港澳台及获得永久居留权的外国人）免费参观。</li>
                            <li>60岁以上（含60岁）老年人凭身份证原件，门票半价优惠。</li>
                            <li>持有本市社会保障金领取证的人员，门票半价优惠。</li>
                            <li>离休干部凭离休证，免票参观。</li>
                            <li> 6周岁（含6周岁）以下或身高1.2米（含1.2米）以下儿童免票参观。</li>
                            <li>残疾人凭残疾人证件，免票参观。</li>
                            <li>“三八”妇女节，妇女享受门票半价优惠。</li>
                            <li>“六一”儿童节，14周岁以下儿童（含14周岁），随同家长一人享受半价优惠。</li>
                            <li>“八一”建军节，现役军人、离退休军人、武警、消防救援人员、烈属、遗属、现役军人家属，凭有效证件，免票参观。</li>
                        </ol>
                        <!-- <div class="carousel-caption">
                            ...
                        </div> -->
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- 第六板块————交通路线 -->
    <div class="row" style="padding-bottom:20px;">
        <div class="col-md-12 openTime">
            <img src="~/images/first-one.png" alt="">
            <span class="txt">交通路线</span>
            <img src="~/images/first-two.png" alt="">
        </div>
    </div>

    <!-- 第六板块————交通路线 -->
    <div class="row" style="height:600px;">
        <div class="col-md-4" style="height: 600px;overflow: hidden;">
            <img src="~/images/third-one.png" alt="" style="width: 104.5%;">
        </div>
        <div class="col-md-8 road">

            <!-- 轮播 -->
            <div id="carousel" class="carousel slide">
                <!-- Indicators -->
                <ol class="choices">
                    <li style="width: 150px;" data-target="#carousel" data-slide-to="0" class="active">午门</li>
                    <li style="width: 150px;" data-target="#carousel" data-slide-to="1">神武门</li>
                    <li style="width: 150px;" data-target="#carousel" data-slide-to="2">东华门</li>
                    <li style="width: 150px;" data-target="#carousel" data-slide-to="3">西华门</li>

                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner " role="listbox">
                    <!-- 午门 -->
                    <div class="item active" style="height:300px;">
                        <ol style="color:white ;list-style-type: none;">
                            <li style="font-size: 18px;"> <img src="~/images/icon.png" alt=""> 午门（故宫博物院的南门，自2011年7月2日始只作为观众参观入口）</li>
                            <div style="padding-left: 20px;display: inline-block;">
                                从东华门或西华门沿东、西筒子河路前行均可到达。<br /> 从天安门经端门到达午门的路线：通行时间周二至周日，8:00-16:00；周一闭馆日全天不可通行。
                                <br>实际开放情况以现场公告为准。
                            </div>

                            <li style="font-size: 18px; margin-top: 20px"> <img src="~/images/icon.png" alt=""> 午门周边的公共交通车站：天安门东</li>
                            <div style="padding-left: 20px;display: inline-block;">
                                停靠的车辆：1、120、2、52、82、夜1、观光1线、观光2线公共汽车和1号地铁线
                            </div>

                            <li style="font-size: 18px;margin-top: 20px"> <img src="~/images/icon.png" alt=""> 午门周边的公共交通车站：天安门西</li>
                            <div style="padding-left: 20px;display: inline-block;">
                                停靠的车辆：1、5、52、夜1、观光1线、观光2线公共汽车和1号地铁线
                            </div>
                            <li style="border:1px solid rgb(225, 225, 218);width:150px;height:40px;padding-top: 10px;text-align: center;border-radius: 10px;margin-top: 20px;cursor: pointer;">更多详细路线</li>
                        </ol>
                    </div>
                    <!-- 神武门 -->
                    <div class="item">
                        <ol style="color:white ;list-style-type: none;">
                            <li style="font-size: 18px;"> <img src="~/images/icon.png" alt=""> 神武门（故宫博物院的北门，自2011年7月2日始只作为观众参观出口）</li>
                            <div style="padding-left: 20px;display: inline-block;">
                                与 景山公园 隔街相对
                            </div>

                            <li style="font-size: 18px; margin-top: 20px"> <img src="~/images/icon.png" alt=""> 神武门周边的公共交通车站：神武门</li>
                            <div style="padding-left: 20px;display: inline-block;">
                                停靠的车辆：101、103、109、124路无轨电车和58、夜13路、观光1线、观光2线公共汽车
                            </div>

                            <li style="font-size: 18px;margin-top: 20px"> <img src="~/images/icon.png" alt=""> 神武门周边的公共交通车站：景山东门</li>
                            <div style="padding-left: 20px;display: inline-block;">
                                停靠的车辆：111、124路无轨电车和58、夜2路公共汽车
                            </div>
                            <li style="border:1px solid rgb(225, 225, 218);width:150px;height:40px;padding-top: 10px;text-align: center;border-radius: 10px;margin-top: 20px;cursor: pointer;">更多详细路线</li>
                        </ol>
                    </div>
                    <!-- 东华门 -->
                    <div class="item">
                        <ol style="color:white ;list-style-type: none;">
                            <li style="font-size: 18px;"> <img src="~/images/icon.png" alt=""> 东华门（故宫博物院的东门，现作为观众参观出口）</li>
                            <div style="padding-left: 20px;display: inline-block;">
                                从 王府井商业街 沿 东安门大街 西行800米可以到达。
                            </div>

                            <li style="font-size: 18px; margin-top: 20px"> <img src="~/images/icon.png" alt=""> 东华门周边的公共交通车站：东华门、故宫东门</li>
                            <div style="padding-left: 20px;display: inline-block;">
                                停靠的车辆：2、82、夜2路、观光2线公共汽车
                            </div>
                            <li style="border:1px solid rgb(225, 225, 218);width:150px;height:40px;padding-top: 10px;text-align: center;border-radius: 10px;margin-top: 20px;cursor: pointer;">更多详细路线</li>
                        </ol>
                    </div>

                    <!-- 西华门 -->
                    <div class="item">
                        <ol style="color:white ;list-style-type: none;">
                            <li style="font-size: 18px;"> <img src="https://img.dpm.org.cn/Public/static/themes/image/xf/list_grain3.png" alt=""> 西华门（故宫博物院的西门，平时仅做工作人员通道）</li>
                            <div style="padding-left: 20px;display: inline-block;">
                                从 长安街 沿 南长街 北行600米或从北海公园 沿 北长街 南行600米可以到达。
                            </div>

                            <li style="font-size: 18px; margin-top: 20px"> <img src="https://img.dpm.org.cn/Public/static/themes/image/xf/list_grain3.png" alt=""> 西华门周边的公共交通车站：西华门、故宫西门</li>
                            <div style="padding-left: 20px;display: inline-block;">
                                停靠的车辆：5路、观光1线、观光2线公共汽车
                            </div>
                            <li style="border:1px solid rgb(225, 225, 218);width:150px;height:40px;padding-top: 10px;text-align: center;border-radius: 10px;margin-top: 20px;cursor: pointer;">更多详细路线</li>
                        </ol>
                    </div>

                </div>
            </div>

            <div style="background-color:rgba(14, 14, 14, 0.1);width: 100%;height: 140px;margin-left:-16px;padding-left:40px;color: white;position: absolute;top: 460px;padding-top: 40px;">
                <p>
                    请注意：<br> 故宫博物院没有专用停车场，最近的公共停车场在东华门外、景山后街，车位有限。
                    <br> 建议观众朋友们搭乘公共交通车辆来故宫博物院参观。
                </p>
            </div>

        </div>
    </div>

    <!-- 第七板块————游览须知 -->
    <div class="row">
        <div class="col-md-12 openTime">
            <img src="~/images/first-one.png" alt="">
            <span class="txt">游览须知</span>
            <img src="~/images/first-two.png" alt="">
        </div>
    </div>

    <!-- 第七板块————游览须知 -->
    <div class="row" style="padding: 20px 100px 20px 100px;">
        <div class="col-md-4" style="text-align: center;">
            <h3>北京故宫</h3>
            旧称紫禁城是 <br />明清两代皇宫的遗址
        </div>
        <div class="col-md-4" style="text-align: center;">
            <h3>1961年</h3>
            经国务院批准 <br />被定为全国重点文物保护单位
        </div>
        <div class="col-md-4" style="text-align: center;">
            <h3>北京故宫</h3>
            被联合国教科文组织列入 <br />“世界文化遗产”名录
        </div>
    </div>
    <div style="margin:20px 100px ;">
        &emsp;&emsp;自2011年7月2日起，故宫博物院实行自南向北单向参观路线：午门（南门）只作为参观入口，观众一律从午门进入故宫；神武门（北门）只作为参观出口，观众参观结束后可由神武门或东华门（东门）离开故宫。
    </div>

    <!-- 第七板块————游览须知 -->
    <div class="row visit">
        <div class="col-md-6">
            <div style="display:flex; margin-bottom: 24px;">
                <img src="~/images/sixth-one.png" alt="">
                <div style="display:inline-block ;width: 466px; padding-left: 10px;">
                    <span style="font-size:16px;padding-top: 10px;margin-bottom: 8px;display: inline-block;">您在故宫博物院内参观游览时请勿吸烟，并提醒他人不要吸烟</span>
                    <div>故宫是世界上现存最大的木结构宫殿建筑群，历史上曾经多次发生火灾。<br />每个点燃的烟头都可能是对这片珍贵历史文化遗产的威胁。</div>
                </div>
            </div>

            <div style="display:flex; margin-bottom: 24px;">
                <img src="~/images/sixth-two.png" alt="">
                <div style="display:inline-block ;width: 466px; padding-left: 10px;">
                    <span style="font-size:16px;padding-top: 10px;margin-bottom: 8px;display: inline-block;">做文明观众</span>
                    <div>为不妨碍、影响他人参观，按照国际惯例在展厅请勿使用闪光灯和三脚架拍照。在我院与其他博物馆合作举办的展览以及特色商品店，因有版权协议，不允许观众拍照展品，请注意警示标志并服从展厅工作人员的管理。</div>
                </div>
            </div>

            <div style="display:flex; margin-bottom: 24px;">
                <img src="~/images/sixth-three.png" alt="">
                <div style="display:inline-block ;width: 466px; padding-left: 10px;">
                    <span style="font-size:16px;padding-top: 10px;margin-bottom: 8px;display: inline-block;">欢迎利用我院提供的各种导览帮助设施</span>
                    <div>
                        1.观众服务中心（端门）咨询电话：85007938 <br />2.太和门咨询处 咨询电话：85007421 查看院内服务设施位置图 讲解服务路线与讲解服务收费标准
                    </div>
                </div>
            </div>

            <div style="display:flex; margin-bottom: 24px;">
                <img src="~/images/sixth-four.png" alt="">
                <div style="display:inline-block ;width: 466px; padding-left: 10px;">
                    <span style="font-size:16px;padding-top: 10px;margin-bottom: 8px;display: inline-block;">在您参观时请留意自己携带的物品，提防扒窃</span>
                    <div>
                        请不要轻信和接受社会散杂人员派发的各种广告和兜售的商品。严防上当受骗，并欢迎举报。
                        <br />故宫派出所电话：010－65131882
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-6">
            <div style="display:flex; margin-bottom: 24px;">
                <img src="~/images/sixth-five.png" alt="">
                <div style="display:inline-block ;width: 466px; padding-left: 10px;">
                    <span style="font-size:16px;padding-top: 10px;margin-bottom: 8px;display: inline-block;">尊重文化遗产，保护文物古迹</span>
                    <div>请不要在古建筑和古树上留下您的大名，刻画涂写不仅不会使您英名永驻，反而遭到大家的鄙视。</div>
                </div>
            </div>

            <div style="display:flex; margin-bottom: 24px;">
                <img src="~/images/sixth-six.png" alt="">
                <div style="display:inline-block ;width: 466px; padding-left: 10px;">
                    <span style="font-size:16px;padding-top: 10px;margin-bottom: 8px;display: inline-block;">如遇人群密集时，请听从工作人员的疏导，有序参观，不要拥挤</span>
                    <div>
                        请不要轻信和接受社会散杂人员派发的各种广告和兜售的商品。严防上当受骗，并欢迎举报。
                        <br />故宫派出所电话：010－65131882
                    </div>
                </div>
            </div>

            <div style="display:flex; margin-bottom: 24px;">
                <img src="~/images/sixth-seven.png" alt="">
                <div style="display:inline-block ;width: 466px; padding-left: 10px;">
                    <span style="font-size:16px;padding-top: 10px;margin-bottom: 8px;display: inline-block;">文明环境靠大家共同营造</span>
                    <div>
                        请勿携带宠物进院参观。请尽量不妨碍其他观众。
                        <br />请保持衣容整洁。不要做出有碍观瞻、有损形象的行为。
                        <br />为了您和他人的健康，请勿随地吐痰。
                        <br />请勿乱丢垃圾废物请您尊重清洁工人的劳动。
                        <br />让我们共同保持参观环境的清洁有序！
                    </div>
                </div>
            </div>

            <div style="display:flex; margin-bottom: 24px;">
                <img style="width:13% ;" src="~/images/sixth-eight.png" alt="">
                <div style="display:inline-block ;width: 466px; padding-left: 10px;">
                    <span style="font-size:16px;padding-top: 10px;margin-bottom: 8px;display: inline-block;">如果您在参观中遇到紧急情况，就近寻求我院工作人员的帮助</span>
                    <div>
                        如果您与亲友在参观中走失，可到景运门内西南侧的广播室通知他们。
                        <br />广播室电话：010－85007424。查看故宫全景图
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

